@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500;600;700&family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --misty: #ffd9da;
  --turquoise: #33ca7f;
  --turquoise-hover: #4bd28f;
  --eerie: #1b2021;
  --noir: #090b0b;
  --hind: "Hind Vadadora", sans-serif;
  --manrope: "Manrope", sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #030504;
  font-family: "Hind Vadadora", sans-serif;
}

/* Styles for the scrollbar  */
::-webkit-scrollbar {
  background-color: #030504;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #fefefe;
  border-radius: 8px;
}
@layer utilities {
  .section-spacing {
    @apply px-6 pb-24 pt-36;
  }
  .btn {
    @apply inline-flex items-center justify-center rounded-lg transition-all duration-300 focus:outline-none;
  }

  .btn-primary {
    @apply rounded-full bg-turquoise text-rich hover:bg-turquoisehover hover:shadow-lg;
  }

  .btn-secondary {
    @apply rounded-lg border border-turquoise/20 bg-gunmetal hover:shadow;
  }

  .btn-outline {
    @apply border border-turquoise text-turquoise hover:bg-turquoise/10;
  }

  .btn-sm {
    @apply px-4 py-2 text-sm;
  }

  .btn-md {
    @apply px-6 py-3 text-base;
  }

  .btn-lg {
    @apply px-8 py-8 text-lg;
  }

  .btn-icon {
    @apply rounded-full p-2 hover:bg-white/10;
  }
}
