@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Hind+Vadodara:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #030504;
  font-family: "Hind Vadadora", sans-serif;
}

/* Styles for the scrollbar  */
::-webkit-scrollbar {
  background-color: #030504;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #fefefe;
  border-radius: 8px;
}